<div>

  <div class="index" *ngIf="esInicio">
    <div class="container-fluid background">
      <div class="row logo">
          <img class="img-logo" src="../assets/img/pelotab.png" alt="Logo Crushin Quiz">
      </div>
      <div class="row header">
          <h1>Crushin Quiz</h1>
      </div>
      <div class="row body">
        <div class="col-12">
            <label for="nombre">Nombre</label>
            <input type="text" #nombre="ngModel" name="nombre" [(ngModel)]="puntajeActual.nombre" class="form-control" />
        </div>
        <div class="col-12">
            <button type="button" (click)="mostrarPuntajes()" class="btn btn-secondary">Puntajes</button>
        </div>
        <div class="col-12">
          <button type="button" (click)="mostrarJuego()" class="btn btn-success">Jugar</button>
        </div>
      </div>
      <div class="row footer">
        <div class="col-12">
          <div>
            <p>Agustin Annacondia ©</p>
          </div>
        </div>
      </div>
    </div>
  </div>


  <div class="quiz" *ngIf="esJugando">
    <div class="container-fluid background">
      <div class="row tiempo">
          <h3>{{ puntajeActual.tiempo }}</h3>
      </div>
      <div class="row pregunta">
          <h2>{{ preguntaActual.pregunta }}</h2>
      </div>
      <div class="row opciones">
        <div class="col-12">
            <button type="button" (click)="siguientePregunta($event)" class="btn btn-info">{{ preguntaActual.opcion1 }}</button>
        </div>
        <div class="col-12">
            <button type="button" (click)="siguientePregunta($event)" class="btn btn-info">{{ preguntaActual.opcion2 }}</button>
        </div>
        <div class="col-12">
            <button type="button" (click)="siguientePregunta($event)" class="btn btn-info">{{ preguntaActual.opcion3 }}</button>
        </div>
        <div class="col-12">
            <button type="button" (click)="siguientePregunta($event)" class="btn btn-info">{{ preguntaActual.opcion4 }}</button>
        </div>
      </div>
    </div>
  </div>


  <div class="puntajes" *ngIf="esPuntajes">
    <div class="container-fluid background">
      <div class="row high-scores">
        <h2>HIGH SCORES</h2>
      </div>
      <div class="row tabla">
        <table class="table table-borderless">
          <tbody>
            <tr style="background-color: gold; color: #000">
              <td>{{ listaPuntajes[0].nombre }}</td>
              <td>{{ listaPuntajes[0].correctas }}</td>
              <td>{{ listaPuntajes[0].tiempo }}</td>
            </tr>
            <tr style="background-color: silver;">
              <td>{{ listaPuntajes[1].nombre }}</td>
              <td>{{ listaPuntajes[1].correctas }}</td>
              <td>{{ listaPuntajes[1].tiempo }}</td>
            </tr>
            <tr style="background-color: #CD7F32;">
              <td>{{ listaPuntajes[2].nombre }}</td>
              <td>{{ listaPuntajes[2].correctas }}</td>
              <td>{{ listaPuntajes[2].tiempo }}</td>
            </tr>
            <tr>
              <td>{{ listaPuntajes[3].nombre }}</td>
              <td>{{ listaPuntajes[3].correctas }}</td>
              <td>{{ listaPuntajes[3].tiempo }}</td>
            </tr>
            <tr>
              <td>{{ listaPuntajes[4].nombre }}</td>
              <td>{{ listaPuntajes[4].correctas }}</td>
              <td>{{ listaPuntajes[4].tiempo }}</td>
            </tr>
            <tr>
              <td>{{ listaPuntajes[5].nombre }}</td>
              <td>{{ listaPuntajes[5].correctas }}</td>
              <td>{{ listaPuntajes[5].tiempo }}</td>
            </tr>
          </tbody>
        </table>
      </div>
      <div class="row boton">
        <div class="col-12">
          <button type="button" (click)="mostrarInicio()" class="btn btn-secondary">Volver</button>
        </div>  
      </div>
    </div>
  </div>

  

</div>